.DigiFest{
    margin-top: 0;
    color: white;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
header {
    background: #17072b;
    font-size: 25px; 
    text-align: center; 
    padding:20px
}
body {
    font-family: Arial;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-weight: 400;
  }
  
a {
    color:white;
    text-decoration: solid;
    margin-left: 1%;
}
h2{
    text-decoration: underline;
    margin-left: 1%;
    font-family: Tahoma;
    font-weight: 700;
}
p{
    margin-top: 0%;
    margin-left: 1%;
}
.left{
    margin-left: 1%;
    width: 58%;
}
.right {
    background-color: #172d67;
    top:24vh;
    right: 0;
    width: 550px; 
    height: 493px; 
    position: absolute; 
    color: white;
}
.right h2{
    margin-left: 50px;
    font-size: 30px;
}
ul li {
  margin-bottom: 10px;
  list-style: none;
  font-size: 25px;
}
.br{
    width:250px;
    height: 250px;
    right: 50%;
    top:30vh;
    position:absolute;
}
.bl{
    width:250px;
    height: 250px;
    right:0;
    top:30vh;
    position:absolute;
}
footer {
    margin-top: auto;
    text-align: center;
    background-color: #8c15e9;
    color: #FFFFFF;
    padding: 10px;
  }
  
