body {
    background-color: rgb(237, 227, 210); /* Set background color of the page */
    color: black; /* Text color */
    justify-content: center; /* Centers the content horizontally */
    display: flex; /* Enables flexbox layout */
    margin-top: 12%; /* Adds top margin to push content down */
}

a {
    color: black; /* Sets link color to black */
}

img {
    height: 300px; /* Sets image height */
    width: 300px; /* Sets image width */
    filter: invert(); /* Inverts the colors of the image */
    object-fit: cover; /* Ensures the image covers the assigned space while maintaining its aspect ratio */
}
